{% extends "admin/base.html" %}

{% block title %}{{ title }} | Acervo . Social{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Acervo . Social</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
